<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns ">
  <div class="ramka">

    <%= form_for(@author) do |f| %>
      <% if @author.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@author.errors.count, "error") %> prohibited this author from being saved:</h2>

          <ul>
          <% @author.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :full_name, "ФИО"%><br>
        <%= f.text_field :full_name %>
      </div>
      <div class="field">
        <%= f.label :bith_day, "Дата рождения" %><br>
        <%= f.date_select :bith_day %>
      </div>
      <div class="field">
        <%= f.label :biography, "Биография" %><br>
        <%= f.text_area :biography %>
      </div>
      <div class="mb1">
        <%= f.label        :Изображение %>
        <%= f.file_field :photo %>
      </div>
      
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>    

