<%if signed_in?%>
  <% if  current_user.admin? %>

      

      <table class="features-table">
        <thead>
        <tr>
          <th>Название</th>
          <th><%= link_to 'Добавть', new_imagehome_path, :class => "add"  %> </th>
          <th colspan="3"></th>
        </tr>
        </thead>

        <tbody>
        <% @imagehomes.each do |imagehome| %>
            <tr>
              <td class="grey"><%= imagehome.title %></td>
              <td><%= link_to 'Показать', imagehome %></td>
              <td><%= link_to 'Редактировать', edit_imagehome_path(imagehome) %></td>
              <td><%= link_to 'Удалить', imagehome, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
<% end %>      




<script>

$(document).ready(function() {
 $('.bxslider').bxSlider({
  adaptiveHeight: true,
  mode: 'fade'
});
});


$('div.carousel').jCarouselLite({
  btnNext: '.next',
  btnPrev: '.prev'
});

</script>

<div class="column">
  <ul class="bxslider">
    <% @imagehomes.each do |image| %>    
      <div><%= image_tag image.slider %></div>    
    <% end %>           
  </ul>
</div>

