<div class="pages">
  <div class="large-3 small-12 column">
    <%=image_tag @product.photo.url %>
  </div>

  <div class="large-9 small-12 column">
    <h4> <%= @product.title %>
        (<%= link_to Author.find(@product.author_id).full_name, author_path(@product.author_id) %>)
    </h4>
    <div>Категория: <%= link_to Category.find(@product.category_id).title, category_path(@product.category_id)%></div>
    <div>ISBN: <%= @product.isbn %></div>
    <div>Год издания: <%= @product.year %></div>
    <div>Издательство: <%= @product.publishing %></div>
    <div>Обложка: <%= @product.cover %></div>
    </br>
    <% if @product.sale? %>
      <div class="label movie-label radius mb1"> Цена: <%= @product.price %>руб.</div>
      <div class="label1 movie-label radius mb1">Старая цена: <%= @product.old_price %>руб.</div>
    <% else %>  
      <div class="label movie-label radius mb1"> Цена: <%= @product.price %>руб.</div>
    <% end %>  
    <%if signed_in?%>
      <% if not current_user.admin? %>     
        <div><%= button_to "Добавить в корзину", line_items_path(product_id: @product.id), class: "mebtn" %></div>
      <% end %>
    <% end %>    
    <div class="bordera"><h5> Описание </h5></div>
    <p class="texti"><%= @product.description %></p>  
    <div class="bordera"><h5> Экранизации </h5></div>

    <div class="filming">
       <%= @product.filming %>
    </div>

   </br>
  </div>


<%if signed_in?%>
  <% if  current_user.admin? %>
    <%= link_to 'Редактировать', edit_product_path(@product) %> |
  <% end %>
<% end %>    

  <%= link_to 'Назад', products_path %>
</div>



